* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, rgb(38, 38, 118), rgb(21, 21, 135));
  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  background: white;
  padding: 30px 60px 120px 30px;
  margin: 75px 30px 30px 260px;
  border-radius: 10px;
}

.todo-app h2 {
  color: rgb(3, 3, 63);
  display: flex;
  align-items: center;
}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  width: 510px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#input-field {
  flex: 1;
  border: none;
  border-radius: 30px;
  background: transparent;
  padding: 20px;
  font-weight: 14px;
  background-color: rgb(239, 239, 239);
  margin-top: 7px;
}

#button {
  background-color: rgb(254, 151, 113);
  margin: 3px 40px 0 0;
  padding: 15px 25px 18px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 28px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: " ";
  position: absolute;
  background-image: url(images/unchecked.png);
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  top: 25px;
  left: 8px;
}
ul li.checked {
  color: rgb(254, 124, 76);
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(images/checked.png);
}
ul li span {
  position: absolute;
  right: 0;
  top: 20px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: chocolate;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover {
  background: #edeef0;
}
